* {
    margin: 0;
    padding: 0;
  }
  button:hover {
    cursor: grab;
  }
  .nav {
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 92px;
    border-bottom: 3.5px solid black;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(8px, 1vw, 20px);
    font-weight: 700;
  }
  .nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .nav-item {
    position: relative;
    /* left: 80%; */
  }
  
  .nav-item::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #3444c5;
  
    position: relative;
    transition: 0.2s;
    top: 9%;
  }
  .nav-item:hover::after {
    color: #3444c5;
    width: 70%;
  }
  
  .nav-item:hover a {
    color: #3444c5;
  }
  
  #logo {
    grid-column: 1 /3;
  }
  #logo img {
    height: 92px;
  }
  #home {
    position: relative;
    /* left: 95%; */
  }
  #brands{
    position: relative;
    right: 20%;
  }
  #sign {
    grid-column: 13/15;
    position: relative;
    left: 25%;
  
    width: 60%;
  }
  #sign button {
    font-family: "Montserrat", sans-serif;
  
    font-weight: 700;
  
    color: white;
  
    background-color: #3444c5;
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    font-size: clamp(12px, 1vw, 14x);
  }
  #products {
    position: relative;
    /* left: 85%; */
    right: 24%;
  }
  #abt{
    position: relative;
    /* left: 85%; */
    right: 18%;
  }
  
  #log {
    grid-column: 12/13;
    position: relative;
    left: 35%;
  }
  #log a {
    color: #3444c5;
  }
  #menu {
    display: none;
  }
  #search {
  
    grid-column: 8/10;
    position: relative;
    left: 15%;
    top: 0%;
  }
  #search button{
    background-color: transparent;
    border: none;
  }
  #simg{
    z-index: 99;
    position: relative;
    top: 23px;
    left: 18px;
    height: 20px;
    width: 20px;
    
  }
  input{
    border-radius: 10px;
    font-family: "montserrat" , sans-serif;
    border: none;
    height: 40px;
    width: 180%;
    position: relative;
    bottom: 20%;
    z-index: 0;
    padding-left: 50px;
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  #profile{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 15/ 16;
    position: relative;
    right: 20%;
    top: 1%;
  
  }
  #profile a img{
  
    width: 24px;
    height: 24px;
  
  }
  #bag {
    grid-column: 17 / 18;
    
    position: relative;
    right: 175%;
  }
  #cart {
    grid-column: 16/ 17;
    position: relative;
    right: 50%;
  }
  #cart a img{
  
    width: 24px;
    height: 24px;
  
  }
  .left {
    text-align: left;
    font-family: "Montserrat" , sans-serif;
    width: 20%;
    /* text-align: center; */
  }
  #links{
    margin-left: 5%;
    margin-top: 17px;
    position: relative;
    left:4%;
    
  }
  #links div{
    margin: 20px 0px 20px 0px;
  }
  #l3{
    color: black;
  }
  .fullpage {
    display: flex;
  }
  .left a {
    text-decoration: none;
    color: #8b8b8b;
    margin-top: 7%;
    padding-top: 5%;
  }
  .left a h1 {
    font-size: 40px;
    color: #fbb831;
  }
  #search-mobile{
    display: none;
  }
  .content1 {
    font-family: "Montserrat", sans-serif;
    height: 60vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(12, 1fr);
   
  }
  .content1 h1 {
    grid-column: 2 /6;
  
    grid-row: 2 / 3;
  }
  #pro-1 {
    grid-column: 2/12;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  #pro-2 {
    grid-column: 2/12;
    grid-row:5/8;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    top: 10%;
  }
  #pro-3 {
    grid-column: 2/12;
    grid-row: 8/11;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    top: 20%;
  }
  #pro-1 h1 {
    grid-column: 3/7;
  
    grid-row: 1/2;
    color: #3444c5;
    font-size: clamp(16px , 1vw , 20px);
    position: relative;
    left: 20px;
  }
  #pro-2 h1 {
    grid-column: 3/7;
  
    grid-row: 1/2;
    color: #3444c5;
    font-size: clamp(16px , 1vw , 20px);
    position: relative;
    left: 20px;
  }
  #pro-3 h1 {
    grid-column: 3/7;
  
    grid-row: 1/2;
    color: #3444c5;
    font-size: clamp(16px , 1vw , 20px);
    position: relative;
    left: 20px;
  }
  
  #p1 {
    grid-column: 3/10;
    grid-row: 3/4;
    color: #909090;
    font-size: clamp(12px, 1vw, 16px);
    position: relative;
    bottom:15px;
    left: 20px;
  }
  #p2 {
    grid-column: 3/6;
    grid-row: 4/6;
    color: #909090;
    font-size: clamp(12px, 1vw, 16px);
    position: relative;
    left: 20px;
    bottom:15px;
  }
  #p3 {
    grid-column: 5/7;
    grid-row: 4/6;
    color: #909090;
    font-size: clamp(12px, 1vw, 16px);
    position: relative;
    left: 20px;
    bottom:15px;
  }
  #p4 {
    grid-column: 7/9;
    grid-row: 4/6;
    color: #909090;
    font-size: clamp(12px, 1vw, 16px);
    position: relative;
    left: 20px;
    bottom:15px;
  }
  #p5 {
    grid-column: 6/9;
    grid-row: 4/6;
    color: #909090;
    font-size: clamp(12px, 1vw, 16px);
    position: relative;
    left: 20px;
    bottom:15px;
  }
  #p6{
  
   grid-column: 13/15;
    grid-row: 1/2;
    color: #909090;
    font-size: clamp(12px , 1vw , 16px);
    position: relative;
    top: 15px;
    left: 20px;
  
  }
  #p7{
   
      text-align: right;
   grid-column: 14/15;
    grid-row: 2/3;
    color: #3444c5;
    font-size: clamp(21px , 1vw , 25px);
    font-weight: 700;
    position: relative;
    top: 0px;
    right: 32px;
  
  
  }
  #p8{
    /* float: left; */
    grid-column: 13/15;
    grid-row: 4/5;
    position: relative;
    left: 18%;
    bottom: 10%;
    color: #3444c5;
    font-size: clamp(14px , 1vw , 16px);
    font-weight: 600;
  }
  #p8 a{
    color:#8b8b8b;
    position: relative;
    /* left: 18%; */
    bottom: 60%;
    right: 5%;
  }
  
  #p5-div{
    grid-column: 7/10;
    grid-row: 4/6;
      height: 15px;
      width: 15px;
      background-color: #fbb831;
      position: relative;
      left: 20px;
      bottom: 13px;
  }
  #img1 {
    grid-row: 1/5;
  
    grid-column: 1/3;
    position: relative;
    right: 10%;
  }
  #img1 img {
    width: 110%;
    height: 100px;
  }

  #btn1{
    grid-row: 3/5;
    grid-column: 15/18;
    position: relative;
    bottom: 50%;
    left: 10%;
}
#btn1 button{
    font-family: "Montserrat", sans-serif;
  font-size: clamp(13px, 1vw, 16px);
  font-weight: 700;
  color: #3444c5;
  border: 3px solid #3444c5;
 border-radius: 5px;
  background-color: white;
    
    width: 110%;
    height: 95%;
    transition: 0.5s;
  }
#btn1 button:hover{

  border: none;
  border-radius: 5px;
   background-color: #3444c5;
   color: white;

}
.content1 h1{
  display: none;
}
#afoot{
  display: none;

}
  
  @media screen and (max-width: 768px) {
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
    }
    .nav {
      height: 102px;
      border: 2px solid #d0d0d0;
      background-color: #f4f4f4;
    }
  
    .nav-item a {
      display: none;
    }
    #search {
      grid-column: 13/14;
      position: relative;
      left: 0%;
    }
    #logo {
      position: relative;
      left: 50%;
    }
    #menu {
      grid-column: 16/17;
      position: relative;
      right: 35%;
      top: 1%;
      display: flex;
    }
    #cart {
      grid-column: 15/ 16;
      position: relative;
      top: 2%;
      right: 60%;
    }
    #log {
      display: none;
    }
    #sign {
      display: none;
    }
  
    #bag {
      display: none;
    }
  
    .footer {
      height: 90vh;
    }
    #line1 {
      display: none;
      height: 0px;
      border-bottom: 4px solid white;
      border-top: 0.2px solid white;
      grid-column: 3/4;
      grid-row: 2/3;
      position: relative;
      top: 20%;
      width: 85%;
    }
    #line2 {
      display: none;
      height: 0px;
      border-bottom: 4px solid white;
      border-top: 0.2px solid white;
      grid-column: 4/6;
      grid-row: 2/3;
      position: relative;
      top: 20%;
  
      width: 75%;
    }
    #line3 {
      display: none;
      height: 0px;
      border-bottom: 4px solid white;
      border-top: 0.2px solid white;
      grid-column: 5/7;
      grid-row: 2/3;
      position: relative;
      top: 20%;
      left: 30%;
  
      width: 60%;
    }
    #footLogo {
      grid-column: 1/6;
      grid-row: 1/2;
      position: relative;
      right: 5%;
      top: 5%;
      height: 80%;
    }
    #footLogo img {
      width: 80%;
      height: 90%;
    }
  
    #foot-txt {
      position: relative;
      font-weight: 500;
      bottom: 25%;
      left: 5%;
  
      grid-column: 1/7;
      grid-row: 2/3;
      width: 90%;
    }
  
    #foot-icons {
      flex-direction: row;
      grid-row: 3/4;
      grid-column: 1/6;
      width: 150%;
  
      position: relative;
      bottom: 10%;
      right: 42%;
    }
  
    #foot-icons a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 8%;
      height: 80%;
      margin: 0px 2% 0px 2%;
    }
    #foot-icons a img {
      width: 40px;
      height:40px;
    }
    #foot-links-1 {
      position: relative;
      bottom: 65%;
      left: 14%;
      align-items: flex-start;
      justify-content: flex-start;
      grid-column: 1/4;
      grid-row: 6/11;
      font-weight: 550;
    }
    #foot-links-1 a {
      margin: 3% 0px 3% 0px;
      font-size: clamp(14px, 1vw, 16px);
  
      color: white;
    }
    #foot-links-1 a p {
      font-weight: 450;
      color: white;
    }
    #foot-links-2 {
      width: 90%;
      position: relative;
      bottom: 64%;
      left: 30%;
      align-items: flex-start;
      justify-content: flex-start;
      grid-column: 2/6;
      grid-row: 6/11;
      font-weight: 550;
    }
    #foot-links-2 a {
      margin: 1.8% 0px 1.8% 0px;
      font-size: clamp(14px, 1vw, 16px);
      width: 100%;
  
      color: white;
    }
    #foot-links-2 a p {
      font-weight: 450;
      color: white;
    }
    #foot-links-3 {
      display: none;
      position: relative;
      bottom: 45%;
      right: 30%;
  
      align-items: flex-start;
      justify-content: flex-start;
      grid-column: 6/7;
      grid-row: 4/9;
      font-weight: 550;
    }
    #foot-links-3 a {
      margin: 3% 0px 3% 0px;
      font-size: clamp(14px, 1vw, 16px);
  
      color: white;
    }
    #foot-links-3 a p {
      font-weight: 450;
      color: white;
    }
    #foot-links-4 {
      display: flex;
      flex-direction: row;
  
      justify-content: space-between;
      text-align: center;
      position: relative;
      left: 7%;
      width: 90%;
      grid-column: 1/7;
      grid-row: 8/9;
    }
    #foot-links-4 a {
      font-weight: 500;
      color: white;
      font-size: clamp(13px, 1vw, 15px);
    }
  }
  @media screen and (max-width: 925px) {
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
    }
    .nav {
      height: 102px;
      border: 2px solid #d0d0d0;
      background-color: #f4f4f4;
    }
  
    .nav-item a {
      display: none;
    }
    #search {
      grid-column: 13/14;
      position: relative;
      left: 0%;
    }
   
    input{
      display: none;
  
    }
    #logo {
      position: relative;
      left: 50%;
    }
    #menu {
      grid-column: 16/17;
      position: relative;
      right: 35%;
      top: 1%;
      display: flex;
    }
    #profile{
      grid-column: 12/ 13;
      grid-row: 1/2;
      top: 2%;
      /* top: -50%; */
  
    }
  
    #cart {
      grid-column: 14/ 15;
      position: relative;
      /* top: 2%; */
      right: 30%;
    }
    #log {
      display: none;
    }
    #sign {
      display: none;
    }
  
    #bag {
      display: none;
    }}

    @media screen and (max-width: 925px) {
      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
      }
      .nav {
        height: 102px;
        border: 2px solid #d0d0d0;
        background-color: #f4f4f4;
      }
    
      .nav-item a {
        display: none;
      }
      #search {
        grid-column: 13/14;
        position: relative;
        left: 0%;
      }
     
      input {
        display: none;
      }
      #logo {
        position: relative;
        left: 50%;
      }
      #menu {
        grid-column: 16/17;
        position: relative;
        right: 35%;
        top: 1%;
        display: flex;
      }
      #profile {
        grid-column: 12/ 13;
        grid-row: 1/2;
        top: 2%;
        /* top: -50%; */
      }
    
      #cart {
        grid-column: 14/ 15;
        position: relative;
        /* top: 2%; */
        right: 30%;
      }
      #log {
        display: none;
      }
      #sign {
        display: none;
      }
    
      #bag {
        display: none;
      }
    
      .content1 {
        font-family: "Montserrat", sans-serif;
        width: 100vw;
        height: 120vh;
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(20, 1fr);
      }
      .content1 h1 {
        grid-column: 2 /9;
        display: block;
        grid-row: 1/ 2;
        position: relative;
        top: 40%;
       
      }
    
      .content1 h1 span {
        color: #fbb831;
      }
      #pro-1 {
        grid-column: 1/16;
        grid-row: 2/6;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(5, 1fr);
        position: relative;
        top: 15%;
        border-bottom: 3px solid #909090;
      }
      #pro-2 {
        grid-column: 1/16;
        grid-row: 6/10;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(5, 1fr);
        position: relative;
        top: 25%;
        border-bottom: 3px solid #909090;
      }
      #pro-3 {
        grid-column: 1/16;
        grid-row: 10/14;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(5, 1fr);
        position: relative;
        top: 35%;
        border-bottom: 3px solid #909090;
      }
      #pro-1 h1 {
        grid-column: 8/13;
    
        grid-row: 1/2;
        color: #3444c5;
        font-size: clamp(16px, 1vw, 20px);
        position: relative;
        left: -25px;
        top: 0px;
      }
      #pro-2 h1 {
        grid-column: 8/13;
    
        grid-row: 1/2;
        color: #3444c5;
        font-size: clamp(16px, 1vw, 20px);
        position: relative;
        left: -25px;
        top: 0px;
      }
      #pro-3 h1 {
        grid-column: 8/13;
    
        grid-row: 1/2;
        color: #3444c5;
        font-size: clamp(16px, 1vw, 20px);
        position: relative;
        left: -25px;
        top: 0px;
      }
    
      #p1 {
        grid-column: 7/14;
        grid-row: 3/5;
        color: #909090;
        font-size: clamp(12px, 1vw, 16px);
        position: relative;
        bottom: 10px;
        left: 5px;
      }
      #p2 {
        grid-column: 8/13;
        grid-row: 3/4;
        color: black;
        font-size: clamp(14px, 1vw, 18px);
        position: relative;
        left: 10px;
        bottom: 20px;
      }
      #p3 {
        grid-column: 8/13;
        grid-row: 4/5;
        color: black;
        font-size: clamp(14px, 1vw, 18px);
        position: relative;
        left: 60px;
        bottom: 30px;
      }
      #p4 {
        grid-column: 8/13;
        grid-row: 5/6;
        color: black;
        font-size: clamp(14px, 1vw, 18px);
        position: relative;
        left: 60px;
        bottom: 40px;
      }
      #p5 {
        grid-column: 8/13;
        grid-row: 5/6;
        color: black;
        font-size: clamp(14px, 1vw, 18px);
        position: relative;
        left: 10px;
        bottom: 50px;
        width: 110px;
    
        /* display: none; */
      }
      #p6 {
        grid-column: 13/15;
        grid-row: 1/2;
        color: #909090;
        font-size: clamp(14px, 1vw, 16px);
        position: relative;
        top: 5px;
        left: 48.5%;
        display: none;
      }
      #p7 {
        text-align: right;
        grid-column: 10/12;
        margin-top: 10px;
        margin-bottom: 10px;
        grid-row: 2/3;
        color: #3444c5;
        font-size: clamp(18px, 1vw, 24px);
        font-weight: 700;
        position: relative;
        top: -40%;
        right: 88px;
        width: 110%;
      }
      #p8 {
        grid-column: 10/12;
        grid-row: 2/3;
        color: #3444c5;
        font-size: clamp(12px, 1vw, 14px);
        position: relative;
        left: 72px;
        bottom: 12px;
        width: 50px;
      }
    
      #p5-div {
        grid-row: 4/6;
        grid-column: 11/12;
        height: 15px;
        width: 15px;
        background-color: #fbb831;
        position: relative;
        left: 0px;
        bottom: 30%;
        /* display: none; */
      }
      #img1 {
        grid-row: 1/6;
    
        grid-column: 1/8;
        position: relative;
        left: 10px;
      }
      #img1 img {
        width: 75%;
        height: 90%;
      }
    
      #counter {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        grid-row: 6/7;
        grid-column: 13/14;
        position: relative;
        /* bottom: 35%; */
        top: 30%;
        left: 10%;
      }
      #counter p {
        text-align: center;
        color: #3444c5;
        font-size: 18px;
        width: 50px;
        position: relative;
        /* bottom: 15px; */
      }
      #counter div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #3444c5;
        width: 25px;
        height: 25px;
        position: relative;
        /* bottom: 15px; */
        border-radius: 5px;
      }
    
      #bill {
        grid-row: 15/20;
        grid-column: 1/16;
        box-shadow: none;
        border-radius: 10px;
        position: relative;
        left: 0%;
        top: 10%;
        border-top: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(13, 1fr);
        flex-direction: column;
        color: #3444c5;
        font-family: "Montserrat", sans-serif;
        min-width: 100%;
        max-width: 100%;
        height: 110%;
        /* display: none; */
      }
      #p-1 {
        font-weight: 650;
        grid-row: 2/3;
        grid-column: 1/5;
        text-align: left;
        font-size: 25px;
        position: relative;
        left: 20px;
      }
      #p-2 {
        font-weight: 550;
        grid-row: 5/6;
        grid-column: 1/3;
        position: relative;
        left: 22px;
        font-size: 18px;
      }
      #p-price1 {
        font-weight: 500;
        grid-row: 5/6;
        grid-column: 4/6;
        position: relative;
        left: 52px;
        font-size: 18px;
        width: 50px;
      }
    
      #p-3 {
        font-weight: 550;
        grid-row: 6/7;
        grid-column: 1/4;
        position: relative;
        left: 22px;
        font-size: 18px;
      }
      #p-price2 {
        font-weight: 500;
        grid-row: 6/7;
        grid-column: 4/6;
        position: relative;
        left: 52px;
        font-size: 18px;
        width: 50px;
      }
    
      #p-4 {
        font-weight: 550;
        grid-row: 7/8;
        grid-column: 1/3;
        position: relative;
        left: 22px;
        font-size: 18px;
      }
      #p-price3 {
        font-weight: 500;
        grid-row: 7/8;
        grid-column: 4/6;
        position: relative;
        left: 52px;
        font-size: 18px;
        width: 50px;
      }
      #p-5 {
        font-weight: 550;
        grid-row: 9/10;
        grid-column: 1/3;
        text-align: space-between;
        font-size: 20px;
        position: relative;
        left: 14%;
      }
      #p-price4 {
        font-weight: 550;
        grid-row: 9/10;
        grid-column: 4/6;
        position: relative;
        left: 52px;
        font-size: 18px;
        width: 50px;
      }
    
      #btn1{
        grid-row: 5/6;
        grid-column: 8/13;
        position: relative;
        bottom: 50%;
        left: -15%;
    }
    #btn1 button{
        font-family: "Montserrat", sans-serif;
      font-size: clamp(13px, 1vw, 16px);
      font-weight: 700;
      color: #3444c5;
      border: 3px solid #3444c5;
     border-radius: 5px;
      background-color: white;
        
        width: 110%;
        height: 95%;
        transition: 0.5s;
      }
    #btn1 button:hover{
    
      border: none;
      border-radius: 5px;
       background-color: #3444c5;
       color: white;
    
    }
    
      .left {
        display: none;
      }
      .footer {
        height: 0vh;
      }
      .content1 a {
        display: block;
        grid-row: 20/21;
        grid-column: 1/16;
        margin: auto;
        
        font-weight: 600;
      }

      #afoot{
        display: block;
        grid-row: 20/21;
        grid-column: 1/16;
        margin: auto;
        position: relative;
        top: 1400%;
        
        font-weight: 600;
      }
    }
    
    
  .hamburger-menu{
    display: none;
  }
  .menu__box{
    display: none;
  }
  #menu__toggle{
    display: none;
  }
  @media screen and (max-width: 925px) {
  .hamburger-menu{
  

 

    z-index: 999999;
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 55px;
    left: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 99;
    
  
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: black;
    transition-duration: .5s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    
    top: -50px;
    left: -100%;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .5s;
  }
  .menu__item {
    display: block;
    padding: 5px 24px;
    color: black;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .5s;
  }
  .menu__item img{
    height: 40px;
    width: 40px;
   
  }
  .menu__item span{
    position: relative;
    bottom: 15px;
    left: 20px;
  }
  #logo-hm img{
    position: relative;
    left: 40px;
    width: 150px;
    height: 100px;
  }
  #logo-c-name{
    position: relative;
    bottom: 10px;
    left: 30px;
    font-size: 20px;
    font-weight: 700;

  }
  #logo-c-name1{
    font-size: 12px;
    position: relative;
    bottom: 15px;
    left:50px;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  .drop-list{
    display: none;
    background-color: #e5e5e5;
    transition: 1s;
    height: 45px;
  }
  .drop-list a span{

    left:5px;
    bottom: 0px;
  }
  .invisible{
    display: block;
  }
}
@media screen and (max-width: 925px) {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  }
  .nav {
    height: 102px;
    border: 2px solid #d0d0d0;
    background-color: #f4f4f4;
  }

  .nav-item a {
    display: none;
  }
  #search {
    grid-column: 14/15;
    position: relative;
    left: 0%;
  }
  #simg{
    /* display: none; */
    position: relative;
    top: 80%;
    }
  input{
    display: none;

  }
  #logo {
    grid-column: 4/7;
    position: relative;
    left: 0%;
   
  }
  #logo img{
    width: 150%;
    height: 55%;
  }
  #menu {
    grid-column: 1/4;
    grid-row: 1/2;
    position: relative;
    right: -15%;
    top: 40%;
    display: none;
  }
  #profile{
    grid-column: 12/ 13;
    grid-row: 1/2;
    top: 2%;
    /* top: -50%; */
    display: none;

  }

  #cart {
    grid-column: 14/ 15;
    position: relative;
    /* top: 2%; */
    right: 30%;
    display: none;
  }
  #log {
    display: none;
  }
  #sign {
    display: none;
  }

  #bag {
    display: none;
  }
  #home{
    display: none;
  }
  #brands{
    display: none;
  }
  #products{
    display: none;
  }
  #abt{
    display: none;
  }
  #footLogo img {
    height: 100px;
    width: 190px;
    }
    #simg
    {
      position: relative;
      left: 10px;
      bottom: 10px;
      z-index: 1;
    }
    .hamburger-menu{
      z-index: 9999999;
    }
    #search{
      z-index: 9999;
    }
     #search form button{
      /* display: none; */
      z-index: 1;
     }
     #search-mobile{
      display: block;
      height: 30px;
      width: 30px;
      background-color: transparent;
      
      
      z-index: 9999999999;
      position: relative;
      top: 15px;
      
     } }