* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

button:hover {
  cursor: grab;
}
.nav {
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  height: 92px;
  border-bottom: 3.5px solid black;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(8px, 1vw, 20px);
  font-weight: 700;
  z-index: 99;
}
.nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

a {
  text-decoration: none;
  color: black;
}

.nav-item {
  position: relative;
  /* left: 80%; */
}

.nav-item::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #3444c5;

  position: relative;
  transition: 0.2s;
  top: 9%;
}
.nav-item:hover::after {
  color: #3444c5;
  width: 70%;
}

.nav-item:hover a {
  color: #3444c5;
}

#logo {
  grid-column: 1 /3;
}
#logo img {
  height: 92px;
}
#home {
  position: relative;
  /* left: 95%; */
}
#brands {
  position: relative;
  right: 20%;
}
#sign {
  grid-column: 13/15;
  position: relative;
  left: 25%;

  width: 60%;
}
#sign button {
  font-family: "Montserrat", sans-serif;

  font-weight: 700;

  color: white;

  background-color: #3444c5;
  width: 100%;
  height: 40px;
  border: 0px;
  border-radius: 5px;
  font-size: clamp(12px, 1vw, 14x);
}
#products {
  position: relative;
  /* left: 85%; */
  right: 24%;
}
#abt {
  position: relative;
  /* left: 85%; */
  right: 18%;
}

#log {
  grid-column: 12/13;
  position: relative;
  left: 35%;
}
#log a {
  color: #3444c5;
}
#menu {
  display: none;
}
#search {
  grid-column: 8/10;
  position: relative;
  left: 15%;
  top: 0%;
}
#search button {
  background-color: transparent;
  border: none;
}
#simg {
  z-index: 99;
  position: relative;
  top: 23px;
  left: 18px;
}
input {
  border-radius: 10px;
  font-family: "montserrat", sans-serif;
  border: none;
  height: 40px;
  width: 180%;
  position: relative;
  bottom: 20%;
  z-index: 0;
  padding-left: 50px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 15/ 16;
  position: relative;
  right: 20%;
  top: 1%;
}
#profile a img {
  width: 24px;
  height: 24px;
}
#bag {
  grid-column: 17 / 18;

  position: relative;
  right: 175%;
}
#cart {
  grid-column: 16/ 17;
  position: relative;
  right: 50%;
}
#cart a img {
  width: 24px;
  height: 24px;
}
.top {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, white, 52%, transparent 48%),
    url("../img/contact-banner.png");
  background-size: cover;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.18px;
  letter-spacing: 0em;
  text-align: left;
}
.topright {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 8%;
  width: 30%;
  padding-top: 10%;
  position: relative;
  bottom: 50px;
}

h1 {
  font-size: 50px;

  display: flex;
  margin-bottom: 40px;
}
.us {
  color: #fbb831;
  margin-left: 2%;
}
.topright button {
  font-size: 16px;
  font-weight: 600;
  font-family: "montserrat";
  height: 5vh;
  color: white;
  background-color: #3444c5;
  width: 10vw;
  border-radius: 5px;
  border: 0;
}
.testimonial {
  border-left: 5px solid #3444c5;
  font-family: "Montserrat", sans-serif;
  margin-top: 10%;
  margin-left: 8%;
  display: flex;
  padding-left: 1%;
  margin-bottom: 15%;
  width: 35%;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.56px;
  /* or 23px */
  color: #4d4d4d;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
}
.testimonial img {
  padding-top: 3px;
  height: 10vh;
  width: 5vw;
  border-radius: 50%;
  margin-right: 3%;
  font: Helvetica, Sans-serif;
}
.speaker {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
  gap: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150.4%;
  /* identical to box height, or 24px */
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
}
hr {
  width: 35px;
  height: 0px;

  border: 1px solid #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.phone-no {
  display: flex;
  gap: 5px;
}
.phone-no img {
  margin-top: -5px;
}

.half-page {
  width: 100%;
  margin-top: 5%;
}
.pin {
  margin-top: 5%;
}
.address {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-weight: bold;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
}
p img {
  height: 4vh;
}

#form {
  height: 85vh;
  font-family: "montserrat", sans-serif;
  padding: 50px 5% 10px 5%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
#form form {
  grid-row: 1/11;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
.inp {
  border-radius: 0px;
  font-family: "montserrat", sans-serif;
  border: none;
  border-bottom: 2px solid grey;
  /* border: 2px solid black; */
  height: 40px;
  /* width: 180%; */
  position: relative;

  bottom: 0%;
  z-index: 0;
  padding-left: 5px;
}
#inp1 {
  grid-column: 2/5;

  grid-row: 2/3;
  position: relative;
  right: 20%;
  width: 100%;
}
#inp2 {
  grid-column: 5/6;

  grid-row: 2/3;
  position: relative;
  right: 20%;
  /* right: 25%; */
  /* left: 15%; */
  width: 100%;
}
#inp3 {
  grid-column: 7/11;

  grid-row: 2/3;
  position: relative;
  right: 20%;
  /* right: 25%; */
  /* left: 15%; */
  width: 100%;
}
#inp4 {
  grid-column: 2/5;

  grid-row: 3/4;
  position: relative;
  right: 20%;
  /* right: 25%; */
  /* left: 15%; */
  width: 100%;
}
#inp5 {
  grid-column: 5/6;

  grid-row: 3/4;
  position: relative;
  right: 20%;
  /* right: 25%; */
  /* left: 15%; */
  width: 100%;
}
#inp6 {
  grid-column: 7/11;

  grid-row: 3/4;
  position: relative;
  right: 20%;
  /* right: 25%; */
  /* left: 15%; */
  width: 100%;
}
#inp7 {
  grid-column: 2/7;

  grid-row: 4/5;
  position: relative;
  right: 12%;
  /* right: 25%; */
  /* left: 15%; */
  width: 89%;
}
#inp8 {
  grid-column: 2/7;

  grid-row: 5/6;
  position: relative;
  right: 12%;
  /* right: 25%; */
  /* left: 15%; */
  width: 89%;
}
#inp9 {
  grid-column: 2/7;

  grid-row: 6/7;
  position: relative;
  right: 12%;
  /* right: 25%; */
  /* left: 15%; */
  width: 89%;
}
#inp10 {
  grid-column: 2/7;

  grid-row: 7/8;
  position: relative;
  right: 12%;
  /* right: 25%; */
  /* left: 15%; */
  width: 89%;
}
#inp11 {
  grid-column: 7/11;

  grid-row: 4/6;
  position: relative;
  /* top: 20%; */
  right: 20%;
  /* right: 25%; */
  /* left: 15%; */
  width: 100%;
  height: 90%;
  /* background-color: #000000; */
  border: 1px dashed grey;
}
#inp12 {
  height: 100%;
  width: 100%;
  background-color: none;
  border: none;
}

::-webkit-file-upload-button {
  background: transparent;
  color: transparent;
  border: none;
}
input[type="file"] {
  background: transparent;
  color: transparent;
  border: none;
}
#p-1 {
  display: inline-block;
  position: relative;
  top: 35%;
  left: 35%;
}
#p-2 {
  grid-column: 6/10;
  grid-row: 6/7;
  font-size: 14px;
  position: relative;
  /* bottom: 35%; */
  left: 5%;
}

#form-btn {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16.3px, 1vw, 20px);
  font-weight: 700;
  color: white;

  background-color: #1bc150;
  width: 100%;
  height: 50px;
  /* border: 3px solid #3444c5; */
  border: none;
  border-radius: 6px;
  margin-top: 40px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 5;
  grid-column: 6/10;
  grid-row: 6/7;
  position: relative;
  left: 5%;
}
#inp13 {
  height: 15px;
  width: 15px;
  grid-column: 6/7;
  grid-row: 7/8;
  position: relative;
  top: 25%;
  left: 22%;
}
#p-3 {
  grid-column: 6/10;
  grid-row: 7/8;
  position: relative;
  top: 25%;
  left: 10%;
}
/**********************/
.footer {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: url("../img/foot.png");
  background-size: 100% 100%;
}
.footer div {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 600;
  color: white;
}
.footer div a p {
  font-size: clamp(12px, 1vw, 16px);
}
.footer div a h1 {
  font-size: clamp(16px, 1vw, 18px);
}
#line1 {
  height: 0px;
  border-bottom: 4px solid white;
  border-top: 0.2px solid white;
  grid-column: 3/4;
  grid-row: 2/3;
  position: relative;
  top: 20%;
  width: 85%;
}
#line2 {
  height: 0px;
  border-bottom: 4px solid white;
  border-top: 0.2px solid white;
  grid-column: 4/6;
  grid-row: 2/3;
  position: relative;
  top: 20%;

  width: 75%;
}
#line3 {
  height: 0px;
  border-bottom: 4px solid white;
  border-top: 0.2px solid white;
  grid-column: 5/7;
  grid-row: 2/3;
  position: relative;
  top: 20%;
  left: 30%;

  width: 60%;
}
#footLogo {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
  right: 65%;
  top: 5%;
}
#footLogo img {
  width: 90%;
  height: 90%;
}

#foot-txt {
  position: relative;
  font-weight: 500;
  bottom: 30%;
  right: 27%;
  grid-column: 2/4;
  grid-row: 4/5;
  width: 70%;
}

#foot-icons {
  flex-direction: row;

  grid-column: 1/3;
  bottom: 60%;
  grid-row: 6/7;
  position: relative;
  right: 8%;
}

#foot-icons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10.5%;
  height: 90%;
  margin: 0px 2% 0px 2%;
}
#foot-icons a img {
  width: 50px;
  height: 50px;
}
#foot-links-1 {
  position: relative;
  bottom: 45%;
  left: 20%;
  align-items: flex-start;
  justify-content: flex-start;
  grid-column: 3/4;
  grid-row: 4/9;
  font-weight: 550;
}
#foot-links-1 a {
  margin: 3% 0px 3% 0px;
  font-size: clamp(14px, 1vw, 16px);

  color: white;
}
#foot-links-1 a p {
  font-weight: 450;
  color: white;
}
#foot-links-2 {
  position: relative;
  bottom: 45%;
  left: 5%;
  align-items: flex-start;
  justify-content: flex-start;
  grid-column: 4/6;
  grid-row: 4/9;
  font-weight: 550;
}
#foot-links-2 a {
  margin: 1.8% 0px 1.8% 0px;
  font-size: clamp(14px, 1vw, 16px);
  width: 70%;

  color: white;
}
#foot-links-2 a p {
  font-weight: 450;
  color: white;
}
#foot-links-3 {
  position: relative;
  bottom: 45%;
  right: 30%;

  align-items: flex-start;
  justify-content: flex-start;
  grid-column: 6/7;
  grid-row: 4/9;
  font-weight: 550;
}
#foot-links-3 a {
  margin: 3% 0px 3% 0px;
  font-size: clamp(14px, 1vw, 16px);

  color: white;
}
#foot-links-3 a p {
  font-weight: 450;
  color: white;
}
#foot-links-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  left: 8%;
  width: 90%;
  grid-column: 1/7;
  grid-row: 8/9;
}
#foot-links-4 a {
  font-weight: 500;
  color: white;
  font-size: clamp(13px, 1vw, 15px);
}

@media (max-width: 768px) {
  .form {
    display: block;
  }
  .address {
    margin-top: 30%;
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-weight: bold;
    margin-left: 10%;
  }
  .topright {
    margin-bottom: 20%;
    width: 50%;
  }
  .testimonial {
    width: 50%;
  }

  .myform {
    width: 100%;
  }
  .upload {
    margin-left: 0;
  }
  #myfile {
    width: 80vw;
  }
  .button {
    margin-left: 0;
    width: 100%;
    color: white;
    background-color: green;
  }
  .leftform {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  }
  .nav {
    height: 102px;
    border: 2px solid #d0d0d0;
    background-color: #f4f4f4;
  }

  .nav-item a {
    display: none;
  }
  #search {
    grid-column: 13/14;
    position: relative;
    left: 0%;
  }
  #logo {
    position: relative;
    left: 50%;
  }
  #menu {
    grid-column: 16/17;
    position: relative;
    right: 35%;
    top: 1%;
    display: flex;
  }
  #cart {
    grid-column: 15/ 16;
    position: relative;
    top: 2%;
    right: 60%;
  }
  #log {
    display: none;
  }
  #sign {
    display: none;
  }

  #bag {
    display: none;
  }

  .footer {
    height: 90vh;
  }
  #line1 {
    display: none;
    height: 0px;
    border-bottom: 4px solid white;
    border-top: 0.2px solid white;
    grid-column: 3/4;
    grid-row: 2/3;
    position: relative;
    top: 20%;
    width: 85%;
  }
  #line2 {
    display: none;
    height: 0px;
    border-bottom: 4px solid white;
    border-top: 0.2px solid white;
    grid-column: 4/6;
    grid-row: 2/3;
    position: relative;
    top: 20%;

    width: 75%;
  }
  #line3 {
    display: none;
    height: 0px;
    border-bottom: 4px solid white;
    border-top: 0.2px solid white;
    grid-column: 5/7;
    grid-row: 2/3;
    position: relative;
    top: 20%;
    left: 30%;

    width: 60%;
  }
  #footLogo {
    grid-column: 1/6;
    grid-row: 1/2;
    position: relative;
    right: 5%;
    top: 5%;
    height: 80%;
  }
  #footLogo img {
    width: 80%;
    height: 90%;
  }

  #foot-txt {
    position: relative;
    font-weight: 500;
    bottom: 25%;
    left: 5%;

    grid-column: 1/7;
    grid-row: 2/3;
    width: 90%;
  }

  #foot-icons {
    flex-direction: row;
    grid-row: 3/4;
    grid-column: 1/6;
    width: 150%;

    position: relative;
    bottom: 10%;
    right: 42%;
  }

  #foot-icons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 80%;
    margin: 0px 2% 0px 2%;
  }
  #foot-icons a img {
    width: 100%;
    height: 80%;
  }
  #foot-links-1 {
    position: relative;
    bottom: 65%;
    left: 14%;
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: 1/4;
    grid-row: 6/11;
    font-weight: 550;
  }
  #foot-links-1 a {
    margin: 3% 0px 3% 0px;
    font-size: clamp(14px, 1vw, 16px);

    color: white;
  }
  #foot-links-1 a p {
    font-weight: 450;
    color: white;
  }
  #foot-links-2 {
    width: 90%;
    position: relative;
    bottom: 64%;
    left: 30%;
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: 2/6;
    grid-row: 6/11;
    font-weight: 550;
  }
  #foot-links-2 a {
    margin: 1.8% 0px 1.8% 0px;
    font-size: clamp(14px, 1vw, 16px);
    width: 100%;

    color: white;
  }
  #foot-links-2 a p {
    font-weight: 450;
    color: white;
  }
  #foot-links-3 {
    display: none;
    position: relative;
    bottom: 45%;
    right: 30%;

    align-items: flex-start;
    justify-content: flex-start;
    grid-column: 6/7;
    grid-row: 4/9;
    font-weight: 550;
  }
  #foot-links-3 a {
    margin: 3% 0px 3% 0px;
    font-size: clamp(14px, 1vw, 16px);

    color: white;
  }
  #foot-links-3 a p {
    font-weight: 450;
    color: white;
  }
  #foot-links-4 {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    text-align: center;
    position: relative;
    left: 7%;
    width: 90%;
    grid-column: 1/7;
    grid-row: 8/9;
  }
  #foot-links-4 a {
    font-weight: 500;
    color: white;
    font-size: clamp(13px, 1vw, 15px);
  }
}

@media screen and (max-width: 750px) {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  }
  .nav {
    height: 102px;
    border: 2px solid #d0d0d0;
    background-color: #f4f4f4;
  }

  .nav-item a {
    display: none;
  }
  #search {
    grid-column: 13/14;
    position: relative;
    left: 0%;
  }
  #simg {
    display: none;
  }
  input {
    display: none;
  }
  #logo {
    position: relative;
    left: 50%;
  }
  #menu {
    grid-column: 16/17;
    position: relative;
    right: 35%;
    top: 1%;
    display: flex;
  }
  #profile {
    grid-column: 12/ 13;
    grid-row: 1/2;
    top: 2%;
    /* top: -50%; */
  }

  #cart {
    grid-column: 14/ 15;
    position: relative;
    /* top: 2%; */
    right: 30%;
  }
  #log {
    display: none;
  }
  #sign {
    display: none;
  }

  #bag {
    display: none;
  }
  .top {
    background-image: url("../img/contactUs-mobile.png");
    background-size: 100% 75%;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 0px;
    padding: 0px;
    height: 80vh;
  }
  .topright {
    grid-row: 2/7;
    grid-column: 1/9;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80%;
    bottom: 0px;
    padding-left: 20px;
    position: relative;
    bottom: -130px;

    font-size: 16px;
    font-weight: 400;
  }
  h1 {
    font-size: 30px;

    display: flex;
    margin-bottom: 0px;
  }
  .topright p {
    color: white;
  }
  .contact {
    grid-row: 1/2;
    grid-column: 1/2;
    color: white;
  }
  .us {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .topright button {
    width: 40%;
    height: 17%;
  }

  .testimonial {
    grid-row: 7/9;
    grid-column: 1/9;
    width: 90%;
    height: 50%;
    margin: 0px;
    /* padding: 0px; */
    margin-left: 18px;
    font-size: 10px;
    position: relative;
    top: 35%;
  }

  .testimonial img {
    /* margin-right: 0%; */
    height: 80%;
    width: 20%;
  }

  .phone-no {
    display: flex;
    gap: 5px;
    margin-left: 40px;
  }
  .phone-no img {
    margin-top: -5px;
  }

  .half-page {
    position: relative;
    bottom: 60px;
    width: 100%;
    /* margin-top: 5%; */
  }
  .pin {
    margin-top: 5%;
  }
  .address {
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-weight: bold;
    margin-left: 5%;
    font-family: "Montserrat", sans-serif;
  }
  p img {
    height: 4vh;
  }

  #form {
    height: 135vh;
    font-family: "montserrat", sans-serif;
    padding: 0px 5% 0px 4%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(14, 1fr);
  }

  #form form {
    grid-row: 1/17;
    grid-column: 1/11;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(14, 1fr);
  }
  #form form input {
    display: block;
  }
  .inp {
    border-radius: 0px;
    font-family: "montserrat", sans-serif;
    border: none;
    border-bottom: 2px solid grey;
    /* border: 2px solid black; */
    height: 40px;
    /* width: 180%; */
    position: relative;

    bottom: 0%;
    z-index: 0;
    padding-left: 5px;
  }
  #inp1 {
    grid-column: 2/6;

    grid-row: 1/2;
    position: relative;
    right: 20%;
    width: 100%;
  }
  #inp2 {
    grid-column: 7/11;

    grid-row: 1/2;
    position: relative;
    right: 20%;
    /* right: 25%; */
    /* left: 15%; */
    width: 100%;
  }
  #inp3 {
    grid-column: 7/11;

    grid-row: 2/3;
    position: relative;
    right: 20%;
    /* right: 25%; */
    /* left: 15%; */
    width: 100%;
  }
  #inp4 {
    grid-column: 2/6;

    grid-row: 2/3;
    position: relative;
    right: 20%;
    /* right: 25%; */
    /* left: 15%; */
    width: 100%;
  }
  #inp5 {
    grid-column: 1/11;

    grid-row: 7/8;
    position: relative;
    left: 2.5%;
    right: 0%;
    width: 90%;
  }
  #inp6 {
    grid-column: 1/11;

    grid-row: 8/9;
    position: relative;
    left: 2.5%;
    right: 0%;
    width: 90%;
  }
  #inp7 {
    grid-column: 1/11;

    grid-row: 3/4;
    position: relative;
    /* right: 12%; */
    /* right: 25%; */
    left: 2.5%;
    right: 0%;
    width: 90%;
  }
  #inp8 {
    grid-column: 1/11;

    grid-row: 4/5;
    position: relative;
    left: 2.5%;
    right: 0%;
    width: 90%;
  }

  
  #inp9 {
    grid-column: 1/11;

    grid-row: 5/6;
    position: relative;
    left: 2.5%;
    right: 0%;
    width: 90%;
  }
  #inp10 {
    grid-column: 1/11;

    grid-row: 6/7;
    position: relative;
    left: 2.5%;
    right: 0%;
    width: 90%;
  }
  #inp11 {
    grid-column: 1/11;

    grid-row: 9/11;
    position: relative;
    left: 2.5%;
    right: 0%;
    width: 90%;
    height: 100%;
    /* background-color: #000000; */
    border: 1px dashed grey;
  }

  #inp12 {
    height: 100%;
    width: 100%;
    background-color: none;
    border: none;
  }
  #inp13 {
    grid-row: 2/3;
    grid-column: 1/5;
  }
  ::-webkit-file-upload-button {
    background: transparent;
    color: transparent;
    border: none;
  }
  input[type="file"] {
    background: transparent;
    color: transparent;
    border: none;
  }
  #p-1 {
    display: inline-block;
    position: relative;
    top: 30%;
    left: 15%;
    grid-row: 13/14;
  }
  #p-2 {
    grid-column: 6/10;
    grid-row: 6/7;
    font-size: 14px;
    position: relative;
    bottom: -50%;
    left: 2%;
    grid-row: 13/14;
    grid-column: 1/11;
  }

  #form-btn {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(16.3px, 1vw, 20px);
    font-weight: 700;
    color: white;

    background-color: #1bc150;
    width: 95%;
    height: 50px;
    
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    grid-column: 1/11;
    grid-row: 12/13;
    position: relative;
    left: 2%;
  }
  #inp13 {
    height: 15px;
    width: 15px;
    grid-column: 1/3;
    grid-row: 11/12;
    position: relative;
    top: 25%;
    left: 10%;
  }
  #p-3 {
    grid-column: 2/11;
    grid-row: 11/12;
    position: relative;
    top: 23%;
    left: 0%;
  }

  #qi {
    position: relative;
    left: 15%;
  }
}

.hamburger-menu{
  display: none;
}
.menu__box{
  display: none;
}
#menu__toggle{
  display: none;
}
@media screen and (max-width: 725px) {
.hamburger-menu{




  z-index: 999999;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 55px;
  left: 15px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  

}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: black;
  transition-duration: .5s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  
  top: -50px;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .5s;
}
.menu__item {
  display: block;
  padding: 5px 24px;
  color: black;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition-duration: .5s;
}
.menu__item img{
  height: 40px;
  width: 40px;
 
}
.menu__item span{
  position: relative;
  bottom: 15px;
  left: 20px;
}
#logo-hm img{
  position: relative;
  left: 40px;
  width: 150px;
  height: 100px;
}
#logo-c-name{
  position: relative;
  bottom: 10px;
  left: 30px;
  font-size: 20px;
  font-weight: 700;

}
#logo-c-name1{
  font-size: 12px;
  position: relative;
  bottom: 15px;
  left:50px;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
.drop-list{
  display: none;
  background-color: #e5e5e5;
  transition: 1s;
  height: 45px;
}
.drop-list a span{

  left:5px;
  bottom: 0px;
}
.invisible{
  display: block;
}
}
@media screen and (max-width: 725px) {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  }
  .nav {
    height: 102px;
    border: 2px solid #d0d0d0;
    background-color: #f4f4f4;
  }

  .nav-item a {
    display: none;
  }
  #search {
    grid-column: 14/15;
    position: relative;
    left: 0%;
  }
  #simg{
    /* display: none; */
    position: relative;
    top: 80%;
    }
  input{
    display: none;

  }
  #logo {
    grid-column: 4/7;
    position: relative;
    left: 0%;
   
  }
  #logo img{
    width: 150%;
    height: 55%;
  }
  #menu {
    grid-column: 1/4;
    grid-row: 1/2;
    position: relative;
    right: -15%;
    top: 40%;
    display: none;
  }
  #profile{
    grid-column: 12/ 13;
    grid-row: 1/2;
    top: 2%;
    /* top: -50%; */
    display: none;

  }

  #cart {
    grid-column: 14/ 15;
    position: relative;
    /* top: 2%; */
    right: 30%;
    display: none;
  }
  #log {
    display: none;
  }
  #sign {
    display: none;
  }

  #bag {
    display: none;
  }}